<h1 align="center">ADD EMPLOYEE</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
    <div class="row g-3">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Designation</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Company name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Salary</label>
            <input type="number" name="" id="" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Experience</label>
            <textarea name="" id="" cols="10" rows="5" class="form-control"></textarea>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Employee code</label>
            <input type="number" name="" id="" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Phone</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label"></label>
            <button class="btn btn-danger">Register</button>
        </div>
    </div>
</div>